@use "../abstract/" as *;
@use "../base/" as *;

.contact {
  padding: 2rem 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    @include mediaQuery(520px) {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 6rem;
    }
  }
  &__table {
    padding: 5rem;
    width: 60rem;
    height: 45rem;
    @include mediaQuery(520px) {
      width: 100%;
      padding: 0;
    }

    h4 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
    form {
      padding: 2rem;
      ul {
        width: 100%;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15rem;
        margin-right: 15rem;
        @include mediaQuery(520px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    input {
      width: 98%;
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: transparent;
      border: 1px solid $clr--light;
      border-radius: 1rem;
    }

    textarea {
      @extend input;
      height: 10rem;
      margin-bottom: 3rem;
    }
    &__name {
      @include between;

      ul {
        flex-direction: column;
      }
    }
  }

  .title {
    // padding: 5rem;

    ul {
      display: flex;
      gap: 7rem;
      padding-top: 7rem;
      @include mediaQuery(520px) {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        padding-top: 0;
      }
    }
    li {
      display: flex;
      flex-direction: column;
      @include mediaQuery(520px) {
        display: flex;
      }
    }
    li i {
      color: $clr--secondary;
      padding-bottom: 1rem;
      @include mediaQuery(520px) {
        padding-right: 1rem;
      }
    }
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      border-radius: 2rem;
      @include mediaQuery(520px) {
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
        @include mediaQuery(520px) {
          display: none;
        }
      }
    }
  }
}
